.dialogbox {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

    
@media screen and (max-width: 640px) {
    .dialogbox {
        width: 100%;
    }
}

.dialog .h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}